ul {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    list-style-type: none;
    padding : 10px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: darkslategray;
    margin: auto;
    text-align: center;
}

li {
    display: inline;
}

a {
    padding: 12px;
    text-decoration: none;
    color: skyblue;
}